<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="bairwell">
    <description>Bairwell PHP Coding standards</description>
    <!--
       For more info check: https://github.com/squizlabs/PHP_CodeSniffer/wiki
   -->
    <file>src</file>
    <file>tests</file>
    <config name="colors" value="1"/>
    <config name="show_progress" value="1"/>

    <arg name="report" value="full"/>
    <!-- inherit rules from: -->
    <rule ref="PSR2"/>
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

</ruleset>
